#
# .coveragerc to control coverage.py
#

[run]
branch = True
omit =
    test*.py
    setup.py


[report]
exclude_lines =
    pragma: no cover
    pragma: no branch
    def __repr__
    if __name__ == .__main__.:
