#
# .coveragerc to control coverage.py
#

[run]
branch = True
omit =
    lib/cube_browser/tests/*
    setup.py


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
